
#logo_principal{	
	height: 50px;
}

/***  Ajustando Menu **/
.agile_wthree_nav {
	height: 100px;	
	background-color: #4a8ea3;		   
}

nav.navbar.navbar-default {
	height: 100%;
    margin-top: 0px;
}

@media(max-width:1200px){
	nav.navbar.navbar-default {
		padding: 5px;
	}

	.navbar-toggle{
		margin-top: 10px;
		margin-right: 5px;
	}

	#logo_principal{	
		height: 70px;
	}
}

/*** // Menu ***/


/*** Bckground dos produtos**/
.teamgrid1 {
	margin-bottom: 5px;
	background-color: rgba(74, 142, 163, 0.2);
	border-radius: 1em;
}

.test-review {
	height: 200px;
	border-radius: 1em;
}